/network-security.data
/readme.el
auto-save-list/
*~
[#]*[#]
.\#*
elpa/
/tramp
emms/*
!emms/streams
/org-clock-save.el
/recentf
/jabber-avatar-cache
games/*.save
/jabber-history
emacs-custom.el
/kkcrc
